.introFlex {
  display: flex;
  height: 80vh;
  justify-content: space-between;
  margin: 5vh 5rem 2rem;

  .introText {
    font-family: poppins;
    width: 55%;
    font-size: 5rem;
    margin-left: 1rem;
    align-items: baseline;
    padding-bottom: 10vh;
    align-self: center;

    .introBtn {
      display: flex;

      .btnGradient {
        background: linear-gradient(66deg, rgba(251, 168, 31, 1) 0%, rgba(248, 117, 55, 1) 100%);
        color: white;
        border: none;

        &:hover {
          color: white;
        }
      }

      a {
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;

        button {
          margin-right: 1rem;
          padding: 1rem 2rem;
          border-radius: 5px;
          font-size: 1.5rem;
          font-weight: 600;
          border: none;
          cursor: pointer;
          outline: none;
          transition: all 0.3s ease-in-out;
          background-color: rgba(0, 0, 0, 0);
          border: 1px solid black;

          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }

  .textGradient {
    background: linear-gradient(to top left, #fba81f 0%, #f87537 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .introDiv {
    width: 45%;
    height: 80vh;

    .introImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.aboutFlex {
  display: flex;
  margin: 10rem;
  justify-content: space-evenly;
  height: 60vh;
  width: 100%;
  margin: auto;

  .aboutImg {
    width: 30%;
    height: 100%;
    background-color: grey;
    object-position: center;
    object-fit: cover;

    .fblaImg {
      width: 100%;
    }
  }

  .aboutText {
    width: 55%;

    .aboutTitle {
      font-size: 4rem;
    }

    .aboutSubtext {
      font-weight: 600;
    }

    .aboutBtn {
      a {
        button {
          margin-right: 1rem;
          padding: 0.5rem 1rem;
          border-radius: 5px;
          font-size: 1.5rem;
          font-weight: 600;
          border: none;
          cursor: pointer;
          outline: none;
          transition: all 0.3s ease-in-out;
          background-color: rgba(0, 0, 0, 0);
          border: 3px solid black;

          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .introFlex {
    margin: 5vh 5rem 5vh 3rem;
    height: 95vh;

    .introText {
      font-size: 3.5rem;

      .introBtn button {
        padding: 0.75rem 1.5rem;
        font-size: 1.25rem;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .introFlex {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 5vh 5rem 5vh 3rem;

    .introText {
      font-size: 3.5rem;
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;

      .introBtn {
        justify-content: center;
        margin-top: 2rem;

        button {
          padding: 0.75rem 1.5rem;
          font-size: 1.25rem;
        }
      }
    }

    .introDiv {
      width: 80%;
      margin-bottom: 2rem;
    }
  }

  .aboutFlex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 5rem auto; // Adjusted margin for centering vertically and horizontally
    height: auto;
    text-align: center;

    .aboutImg {
      width: 80%;
    }

    .aboutText {
      width: 100%; // Adjusted width to take full width

      .aboutTitle {
        font-size: 2rem; 
      }

      .aboutSubtext {
        font-weight: 600;
      }

      .aboutBtn a button {
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: 1.25rem; // Adjusted font size
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .introFlex .introText {
    font-size: 2.5rem;

    .introBtn button {
      padding: 0.5rem 1rem;
      font-size: .5rem;
    }
  }

    .introFlex {
      
  
      .introText {

  
        .introBtn {
          a {
            display: flex;
            align-items: center;
            height: 100%;
            text-decoration: none;
  
            button {
              margin-right: 1rem;
              padding: .5rem 1rem;
              border-radius: 5px;
              font-size: 1rem;
              font-weight: 600;
            }
          }
        }
      }
    }
}

@media screen and (max-width: 500px) {
  .introFlex .introText {
      font-size: 2.5rem;
  
      .introBtn button {
        padding: 0.5rem 1rem;
        font-size: .5rem;
      }
    }
  
    .introFlex {
  
  
      .introText {
        font-size: 1.45rem;
        .introBtn {
          flex-direction: column;
          gap: 10px;
          align-items: center;
          a {
            display: flex;
            align-items: center;
            height: 100%;
            text-decoration: none;
  
            button {
              margin-right: 1rem;
              padding: .5rem 1rem;
              border-radius: 5px;
              font-size: 1rem;
              font-weight: 600;
            }
          }
        }
      }
    }
}

