.introFlex {
  display: flex;
  height: 80vh;
  justify-content: space-between;
  margin: 5vh 5rem 2rem;
}
.introFlex .introText {
  font-family: poppins;
  width: 55%;
  font-size: 5rem;
  margin-left: 1rem;
  align-items: baseline;
  padding-bottom: 10vh;
  align-self: center;
}
.introFlex .introText .introBtn {
  display: flex;
}
.introFlex .introText .introBtn .btnGradient {
  background: linear-gradient(66deg, rgb(251, 168, 31) 0%, rgb(248, 117, 55) 100%);
  color: white;
  border: none;
}
.introFlex .introText .introBtn .btnGradient:hover {
  color: white;
}
.introFlex .introText .introBtn a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
}
.introFlex .introText .introBtn a button {
  margin-right: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
}
.introFlex .introText .introBtn a button:hover {
  background-color: black;
  color: white;
}
.introFlex .textGradient {
  background: linear-gradient(to top left, #fba81f 0%, #f87537 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.introFlex .introDiv {
  width: 45%;
  height: 80vh;
}
.introFlex .introDiv .introImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutFlex {
  display: flex;
  margin: 10rem;
  justify-content: space-evenly;
  height: 60vh;
  width: 100%;
  margin: auto;
}
.aboutFlex .aboutImg {
  width: 30%;
  height: 100%;
  background-color: grey;
  object-position: center;
  object-fit: cover;
}
.aboutFlex .aboutImg .fblaImg {
  width: 100%;
}
.aboutFlex .aboutText {
  width: 55%;
}
.aboutFlex .aboutText .aboutTitle {
  font-size: 4rem;
}
.aboutFlex .aboutText .aboutSubtext {
  font-weight: 600;
}
.aboutFlex .aboutText .aboutBtn a button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid black;
}
.aboutFlex .aboutText .aboutBtn a button:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 1440px) {
  .introFlex {
    margin: 5vh 5rem 5vh 3rem;
    height: 95vh;
  }
  .introFlex .introText {
    font-size: 3.5rem;
  }
  .introFlex .introText .introBtn button {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 1023px) {
  .introFlex {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 5vh 5rem 5vh 3rem;
  }
  .introFlex .introText {
    font-size: 3.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .introFlex .introText .introBtn {
    justify-content: center;
    margin-top: 2rem;
  }
  .introFlex .introText .introBtn button {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
  }
  .introFlex .introDiv {
    width: 80%;
    margin-bottom: 2rem;
  }
  .aboutFlex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 5rem auto;
    height: auto;
    text-align: center;
  }
  .aboutFlex .aboutImg {
    width: 80%;
  }
  .aboutFlex .aboutText {
    width: 100%;
  }
  .aboutFlex .aboutText .aboutTitle {
    font-size: 2rem;
  }
  .aboutFlex .aboutText .aboutSubtext {
    font-weight: 600;
  }
  .aboutFlex .aboutText .aboutBtn a button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 600px) {
  .introFlex .introText {
    font-size: 2.5rem;
  }
  .introFlex .introText .introBtn button {
    padding: 0.5rem 1rem;
    font-size: 0.5rem;
  }
  .introFlex .introText .introBtn a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
  }
  .introFlex .introText .introBtn a button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 500px) {
  .introFlex .introText {
    font-size: 2.5rem;
  }
  .introFlex .introText .introBtn button {
    padding: 0.5rem 1rem;
    font-size: 0.5rem;
  }
  .introFlex .introText {
    font-size: 1.45rem;
  }
  .introFlex .introText .introBtn {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .introFlex .introText .introBtn a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
  }
  .introFlex .introText .introBtn a button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
  }
}