.introFlex {
  display: flex;
  height: 95vh;
  justify-content: space-between;
}
.introFlex .introText {
  font-family: poppins;
  width: 55%;
  font-size: 5rem;
  margin-left: 1rem;
}
.introFlex .introText .introBtn {
  display: flex;
}
.introFlex .introText .introBtn .btnGradient {
  background: linear-gradient(66deg, rgb(251, 168, 31) 0%, rgb(248, 117, 55) 100%);
  color: white;
  border: none;
}
.introFlex .introText .introBtn button {
  margin-right: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid black;
}
.introFlex .introText .introBtn button:hover {
  background-color: black;
  color: #f87537;
}
.introFlex .textGradient {
  background: #FBA81F;
  background: linear-gradient(to top left, #FBA81F 0%, #F87537 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.introFlex .introImg {
  width: 45%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.introFlex .introImg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
}
.introFlex .introImg .introCircle {
  position: relative;
}
.introFlex .introImg .introCircle .outerCircle {
  width: 100%;
  height: 95vh;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
.introFlex .introImg .introCircle .outerCircle .middleCircle {
  width: 85%;
  height: 80vh;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}
.introFlex .introImg .introCircle .outerCircle .middleCircle .innerCircle {
  width: 70%;
  height: 65vh;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 1;
}