.logo {
  max-width: 200px;
  font-size: 3rem;
}

.navbar {
  align-items: center;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  padding: 10px 50px;
}
.navbar .push-left {
  margin-left: auto;
}
.navbar .push-left .hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .navbar .push-left .hamburger {
    display: inline-block;
  }
}
.navbar .push-left .hamburger-line {
  background: #272727;
  height: 3px;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamburger:hover .navbar .push-left .hamburger-line {
  background: #777;
}
.navbar .push-left .hamburger-line-top {
  top: 3px;
}
.menu-active .navbar .push-left .hamburger-line-top {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}
.navbar .push-left .hamburger-line-middle {
  top: 50%;
  transform: translateY(-50%);
}
.menu-active .navbar .push-left .hamburger-line-middle {
  left: 50%;
  opacity: 0;
  width: 0;
}
.navbar .push-left .hamburger-line-bottom {
  bottom: 3px;
}
.menu-active .navbar .push-left .hamburger-line-bottom {
  bottom: 50%;
  transform: rotate(-45deg) translateY(50%);
}
.navbar .menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in;
}
@media screen and (max-width: 768px) {
  .navbar .menu {
    background: #fff;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(-100%);
    text-align: center;
  }
  .navbar .menu-active {
    transform: translateY(0%);
    opacity: 1;
  }
}
.navbar .menu .menu-item.dropdown {
  position: relative;
}
.navbar .menu .menu-item.dropdown:hover .sub-nav {
  display: block;
}
.navbar .menu .menu-item.dropdown .sub-nav {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 5px 5px;
  list-style: none;
  width: 230px;
}
@media screen and (max-width: 768px) {
  .navbar .menu .menu-item.dropdown .sub-nav {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
}
.navbar .menu .menu-item.dropdown .sub-nav .sub-nav__link {
  color: #444444;
  text-decoration: none;
  display: block;
  padding: 8px 12px;
}
.navbar .menu .menu-item.dropdown .sub-nav .sub-nav__link:hover {
  background-color: #777777;
}
.navbar .menu .menu-item .nav__link {
  color: #444444;
  display: block;
  line-height: 30px;
  margin: 0px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar .menu .menu-item .nav__link:hover {
  color: #777777;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .navbar .menu .menu-item .nav__link {
    font-size: 20px;
    margin: 8px;
  }
}